<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <%= form_for(@event_job_job_association) do |f| %>
            <% if @event_job_job_association.errors.any? %>
                <div class="alert alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert">&times;</a>
                  <p><%= @event_job_job_association.errors.count.to_s +  ' Fehler' %>
                    <% if @event_job_job_association.errors.count < 2 %>
                        verhindert
                    <% elsif @event_job_job_association.errors.count > 1 %>
                        verhindern
                    <% end %>
                    das Speichern der Vorgänger-Nachfolger-Beziehung.
                  </p>
                  <ul>
                    <% @event_job_job_association.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label 'Event auswählen' %><br>
              <%= f.collection_select :event_id, Event.all, :id, :name %>
            </div>
            <div class="field">
              <%= f.label 'Vorgänger auswählen' %><br>
              <%= f.collection_select :predecessor_id, Job.all, :id, :name %>
            </div>
            <div class="field">
              <%= f.label 'Nachfolger auswählen' %><br>
              <%= f.collection_select :successor_id, Job.all, :id, :name %>
            </div>
            <div class="actions">
              <%= f.submit 'Vorgänger-Nachfolger-Beziehung bestätigen', class: "btn btn-primary"  %>
            </div>
        <% end %>
    <% end %>
<% end %>

