<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Verwaltung") %>

        <h1>Aktualisierung der Vorgänger-Nachfolger-Beziehung</h1>

        <%= render 'form' %>

        <%= link_to 'Anzeigen', @event_job_job_association %> |
        <%= link_to 'Zurück', event_job_job_associations_path %>
    <%end%>
<%end%>