<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <%= form_for(@event_job_period_association) do |f| %>
            <% if @event_job_period_association.errors.any? %>
                <div class="alert alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert">&times;</a>
                  <h2><%= @event_job_period_association.errors.count.to_s +  ' Fehler' %>
                    <% if @event_job_period_association.errors.count < 2 %>
                        verhindert
                    <% elsif @event_job_period_association.errors.count > 1 %>
                        verhindern
                    <% end %>
                    das Speichern des Event-Vorgangs.
                  </h2>
                  <ul>
                    <% @event_job_period_association.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label 'Event auswählen' %><br>
              <%= f.collection_select :event_id, Event.all, :id, :name %>
            </div>
            <div class="field">
              <%= f.label 'Vorgang auswählen' %><br>
              <%= f.collection_select :job_id, Job.all, :id, :name %>
            </div>
            <div class="actions">
              <%= f.submit 'Event-Vorgang bestätigen', class: "btn btn-primary"  %>
            </div>
        <% end %>
    <% end %>
<% end %>
