<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Verwaltung") %>

        <h1>Aktualisierung des Event-Vorgangs</h1>

        <%= render 'form' %>

        <%= link_to 'Anzeigen', @event_job_period_association %> |
        <%= link_to 'Zurück', event_job_period_associations_path %>
    <% end %>
<% end %>