<% provide(:title, "Impressionen") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
<h1>Impressionen</h1>
<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
    </div>
<% end %>

<div class="span8">
  <ul class="microposts">
    <li>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    </li>
  </ul>
</div>
</body>
</html>
